databases:
  - name: appaemers
    databaseName: appaemers
    user: appaemers_user

services:
  - type: web
    name: appaemers
    env: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn core.wsgi --log-file -"
  - type: cron
    name: mail
    env: python
    schedule: "*/2 * * * *"
    buildCommand: "./build.sh"
    startCommand: "python manage.py send_queued_mail >> send_mail.log 2>&1"
